/*whatsapp floating icon css  */

a{
    text-decoration:none;
  }
  .floating_btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    z-index: 1000;
  }
  
  @keyframes pulsing {
    to {
      box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
    }
  }
  
  .contact_icon {
    margin-left: 0%;
    background-color: #42db87;
    color: #fff;
    width: 60px;
    height: 60px;
    font-size:30px;
    border-radius: 50px;
    text-align: center;
    box-shadow: 2px 2px 3px #999;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translatey(0px);
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 #42db87;
    -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    font-weight: normal;
    font-family: sans-serif;
    text-decoration: none !important;
    transition: all 300ms ease-in-out;
  }
  
  
  .text_icon {
    margin-top: 8px;
    color: #707070;
    font-size: 13px;
  }


#Results{
    height: 95vh;
    width: 100%;
    background-color: white;
}

.nav-link{
    color: white;
}


.results{
    font-size: 4rem;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    

}

@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
#Results{
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
  
}
.slider{
  max-width: 1000px;
  display: flex;
}
.slider .card{
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img{
  height: 200px;
  width: 100%;
}
.slider .card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content{
  padding: 10px 20px;
}
.card .content .title{
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p{
  text-align: justify;
  margin: 10px 0;
}
/* .card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
} */
/* .card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
} */
/* .card .content .btn button:hover{
  transform: scale(0.9);
} */


/* Indro css */

.intro{
 height: max-content;
 width: auto;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.welcome_to{
  color: red;
  font-size: 3vw;
  font-weight: bolder;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: initial;
  text-decoration: underline;
}


.intro_first_part{
  height: max-content;
  display: flex;
  flex-direction: column;
}
.welcome_content_container{
  color: black;
  padding-left: 2%;
  font-size: 2vw;
  height: max-content;
  width: 60%;
}

.intro_img{
  width: 100%;
  height: auto;


  border: 3px solid blue;
  border-radius: 10%;
  margin-top: 2%

}


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
#Results{
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
  background: #FF676D;
  position: relative;
}
#Results::before{
  content: '';
  position: absolute;
  width: 100%;
  background: #FF676D;
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection{
  background:	#FF676D;
  color: #fff;
}
.container{
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
.container .main-card{
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card{
  margin-left: -100%;
}
.container .main-card .cards{
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card{
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover{
  transform: translateY(-15px);
}
.cards .card .content{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img{
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #FF676D;
  margin-bottom: 14px;
}
.card .content .img img{
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name{
  font-size: 20px;
  font-weight: 500;
}
.card .content .job{
  font-size: 20px;
  color: #FF676D;
}
.card .content .media-icons{
  margin-top: 10px;
  display: flex;

}
.media-icons a{
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #FFF;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #FF676D;
  transition: all 0.3s ease;
}
.media-icons a:hover{
  color: #FF676D;
  background-color: #fff;
  border-color: #FF676D;
}
 .container .button{
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label{
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active{
  width: 35px;
}
#one:checked ~ .button .one{
  width: 35px;
}
#one:checked ~ .button .two{
  width: 15px;
}
#two:checked ~ .button .one{
  width: 15px;
}
#two:checked ~ .button .two{
  width: 35px;
}
input[type="radio"]{
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card{
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card{
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}




/* Courses CSS */

#Courses {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background:  #FF676D;;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-family: 'El Messiri', sans-serif;
}



.Courses_container {
  width: 1000px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .Courses_header {
    margin: 0 auto;
    text-align: center;
    h1 {
      color: #fff;
      font-weight: 900;
    }
    p {
      color: #fff;
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;
    }
  } 
}


/* courses cards css */

.Courses_card {
  position: relative;
  margin-left: 9px;
  margin-right: 9px;
  .face {
    position: relative;
    width: 100%;
    max-width: 300px;
    height: 200px;
    transition: 0.5s;
    border-radius: 12px;
    &.face1 {
      position: relative;
      background: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      z-index: 1;
      transform: translateY(100px);
    }
  }
  &:hover .face.face1 {
    transform: translateY(0);
    background-image: linear-gradient(to left bottom, #8c00dc, #c600ba, #e80096, #f90074, #ff0057);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .face.face1 .content {
    opacity: 0.8;
    transition: 0.5s;
  }
  &:hover .face.face1 .content {
    opacity: 1;
  }
  .face {
    &.face1 .content {
      img {
        max-width: 60px;
      }
      h3 {
        margin: 10px 0 0;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5em;
      }
    }
    &.face2 {
      position: relative;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 20px;
      box-sizing: border-box;
      box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
      transform: translateY(-100px);
    }
  }
  &:hover .face.face2 {
    transform: translateY(0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .face.face2 {
    p {
      margin: 0;
      padding: 0;
    }
    a {
      margin: 15px 0 0;
      display: inline-block;
      text-decoration: none;
      font-weight: 900;
      color: #333;
      padding: 5px;
      border: 1px solid #333;
      &:hover {
        background-color: #333;
        color: #fff;
      }
    }
  }
}

