/*whatsapp floating icon css  */

a {
  text-decoration: none;
}
.floating_btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

@keyframes pulsing {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

.contact_icon {
  margin-left: 0%;
  background-color: #42db87;
  color: #fff;
  width: 60px;
  height: 60px;
  font-size: 30px;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translatey(0px);
  animation: pulse 1.5s infinite;
  box-shadow: 0 0 0 0 #42db87;
  -webkit-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulsing 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  font-weight: normal;
  font-family: sans-serif;
  text-decoration: none !important;
  transition: all 300ms ease-in-out;
}

.text_icon {
  margin-top: 8px;
  color: #707070;
  font-size: 13px;
}

#Results {
  height: 95vh;
  width: 100%;
  background-color: white;
}

.nav-link {
  color: white;
}

.results {
  font-size: 4rem;
  color: red;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#Results {
  display: grid;
  height: 100%;
  place-items: center;
  text-align: center;
  background: #f2f2f2;
}
.slider {
  max-width: 1000px;
  display: flex;
}
.slider .card {
  flex: 1;
  margin: 0 10px;
  background: #fff;
}
.slider .card .img {
  height: 200px;
  width: 100%;
}
.slider .card .img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.slider .card .content {
  padding: 10px 20px;
}
.card .content .title {
  font-size: 25px;
  font-weight: 600;
}
.card .content .sub-title {
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .content p {
  text-align: justify;
  margin: 10px 0;
}
/* .card .content .btn{
  display: block;
  text-align: left;
  margin: 10px 0;
} */
/* .card .content .btn button{
  background: #e74c3c;
  color: #fff;
  border: none;
  outline: none;
  font-size: 17px;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s;
} */
/* .card .content .btn button:hover{
  transform: scale(0.9);
} */

/* Indro css */

.intro {
  height: max-content;
  width: auto;
  background-color: linear-gradient(
    90deg,
    #be8cef 0%,
    rgba(61, 46, 232, 0.83) 100%
  );
  display: flex;
  flex-direction: row;
  padding: 2%;
}
.welcome_to {
  color: red;
  font-size: 3vw;
  font-weight: bolder;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-style: initial;
  text-decoration: none;
}

.intro_first_part {
  height: max-content;
  display: flex;
  flex-direction: column;
}
.welcome_content_container {
  color: black;
  background-color: linear-gradient(
    90deg,
    #be8cef 0%,
    rgba(61, 46, 232, 0.83) 100%
  );
  padding-left: 2%;
  font-size: 2vw;
  height: max-content;
  width: 60%;
}

.intro_img {
  width: 100%;
  height: auto;
  background-color: linear-gradient(
    90deg,
    #be8cef 0%,
    rgba(61, 46, 232, 0.83) 100%
  );

  border: 3px solid blue;
  border-radius: 10%;
  margin-top: 2%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#Results {
  display: flex;
  height: max-content;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  position: relative;
}
#Results::before {
  content: "";
  position: absolute;
  width: 100%;
  background: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  clip-path: inset(47% 0 0 0);
  z-index: -1;
  height: 100%;
}
::selection {
  background: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  color: #fff;
}
.container {
  max-width: 950px;
  width: 100%;
  overflow: hidden;
  padding: 80px 0;
}
.container .main-card {
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}
#two:checked ~ .main-card {
  margin-left: -100%;
}
.container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}
.main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.4s ease;
}
.main-card .cards .card:hover {
  transform: translateY(-15px);
}
.cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.cards .card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  margin-bottom: 14px;
}
.card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}
.card .content .name {
  font-size: 20px;
  font-weight: 500;
}
.card .content .job {
  font-size: 20px;
  color: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
}
.card .content .media-icons {
  margin-top: 10px;
  display: flex;
}
.media-icons a {
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 35px;
  margin: 0 4px;
  font-size: 14px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid transparent;
  background: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  transition: all 0.3s ease;
}
.media-icons a:hover {
  color: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  background-color: #fff;
  border-color: linear-gradient(
    90deg,
    #be8cef 0%,
    rgba(61, 46, 232, 0.83) 100%
  );
}
.container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}
.button label {
  height: 15px;
  width: 15px;
  border-radius: 20px;
  background: #fff;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.button label.active {
  width: 35px;
}
#one:checked ~ .button .one {
  width: 35px;
}
#one:checked ~ .button .two {
  width: 15px;
}
#two:checked ~ .button .one {
  width: 15px;
}
#two:checked ~ .button .two {
  width: 35px;
}
input[type="radio"] {
  display: none;
}
@media (max-width: 768px) {
  .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}
@media (max-width: 600px) {
  .main-card .cards .card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

/* Courses CSS */

#Courses {
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
}

.courses {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
 
  color: white;
  width: calc(33.33% - 20px);
  /* Adjust the width and margin as needed for spacing */
  margin: 10px;
  /* For equal spacing between the boxes */
  height: 150px; /* Set height as needed */
  background-color: #1e1e2c;
  border-radius: 10px;
  transition: 0.3s ease-in ;
  align-items: center;
  padding-top: 2%;

 
  
  /* Other styling properties */
}

.courses:hover{
  background-color: rgb(17, 76, 227)

 
}
.courses_button{
  width: max-content;
  height: 8vh;
  border-radius: 0px;
  background-color: #1e1e2c;
  margin-bottom: 2%;
  transition: 0.3s linear;
}

.courses_button:hover{
  background-color: rgb(17, 76, 227)

 
}







/* Contact form css */

@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
  box-sizing: border-box;
  margin: 0;
}

form {
  background: linear-gradient(90deg, #be8cef 0%, rgba(61, 46, 232, 0.83) 100%);
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  height: 100vh;
}

.form_container {
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-height: 480px;
  min-width: 370px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.form-container {
  display: flex;
}

.left-container {
  flex: 1;
  height: 480px;
  background-color: teal;
}
.right-container {
  display: flex;
  flex: 1;
  height: 460px;
  background-color: white;
  justify-content: center;
  align-items: center;
}

.left-container {
  display: flex;
  flex: 1;
  height: 480px;
  justify-content: center;
  align-items: center;
  color: white;
}

.left-container p {
  font-size: 0.9rem;
}

.right-inner-container {
  width: 70%;
  height: 80%;
  text-align: center;
}

.left-inner-container {
  height: 50%;
  width: 80%;
  text-align: center;
  line-height: 22px;
}

input,
textarea {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  font-size: 0.8rem;
}

input:focus,
textarea:focus {
  outline: 1px solid teal;
}

button {
  border-radius: 20px;
  border: 1px solid #00b4cf;
  background-color: #00b4cf;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
  cursor: pointer;
}

button:hover {
  opacity: 0.7;
}
@media only screen and (max-width: 600px) {
  .left-container {
    display: none;
  }
  .lg-view {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  .sm-view {
    display: none;
  }
}

form p {
  text-align: left;
}

.footer {
  height: 85vh;
  color: #aeafc4;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #1e1e2c;
}

.contact-info,
.developer-info {
  padding: 10px;
}

.contact-info p,
.developer-info p {
  margin: 0;
}

.social_media_icons {
  height: 10vh;
  /* border: 2px solid white; */
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
}

/* bact to top btn css */

/* Counter css */
